/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilos para os cabeçalhos */
h1 {
    color: #333;
}

h2 {
    color: #666;
}

/* Estilos para os formulários */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 50px;
}

/* Estilos para a lista de produtos */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Estilos para os links */
a {
    text-decoration: none;
    color: #0074d9;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 150px;
    height: 150px;

}